
DrinksProject/DrinksProject/bin/Debug/DrinksProject.exe
DrinksProject/DrinksProject/bin/Debug/DrinksProject.exe
DrinksProject/DrinksProject/bin/Debug/DrinksProject.pdb
DrinksProject/DrinksProject/bin/Debug/DrinksProject.exe
*.exe
DrinksProject/.vs/DrinksProject/v16/.suo
